In [11]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [ ]:
#q1 Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.

In [12]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
import time

In [13]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [14]:
driver.get("https://www.naukri.com/")

In [15]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [16]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('banglore')

In [17]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
job_title = []
job_location = []
company_name = []
experience_required = []

title_tag = driver.find_elements(By.XPATH,'//a[@class = "title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)
                                 
location_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location = i.text                                    
    job_location.append(location)
                                    
       
company_tag = driver.find_elements(By.XPATH,"//a[@class = 'subTitle ellipsis fleft']")
for i in company_tag[0:10]:
    company = i.text
    company_name.append(company)
                                   
 
                                   
experience_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span") 
for i in experience_tag[0:10]:
    exp = i.text
    experience_required.append(exp)

In [19]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [20]:
df = pd.DataFrame({'job_title':job_title,'company_name':company_name,'experience_required':experience_required,'job_location':job_location})
df

,job_title,company_name,experience_required,job_location
0,HCL hiring For Data Analyst,HCL Technologies,3-8 Yrs,"Pune, Chennai, Bangalore/Bengaluru"
1,Sr. Data Analyst,Global Indian School Education Services,6-11 Yrs,"Pune, Bangalore/Bengaluru"
2,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,Bangalore/Bengaluru
3,Programmer / Data Analyst,Frost & Sullivan,3-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
4,Immediate opening For Data Analyst @ Bangalore,TeamLease,4-6 Yrs,Bangalore/Bengaluru
5,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,0-2 Yrs,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn..."
6,Data Analyst,Vola Finance,3-7 Yrs,Bangalore/Bengaluru
7,Customer Data Analyst,Oracle,1-3 Yrs,Bangalore/Bengaluru
8,BYJU'S DBEL : Sr Data Analyst,BYJUS,3-7 Yrs,Bangalore/Bengaluru
9,SR. Data Analyst- SME- Pharma and Healthcare,CHRYSELYS,2-6 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ..."

In [31]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [32]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [39]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
import time

In [40]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [41]:
driver.get("https://www.naukri.com/")

In [42]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [44]:

location= driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('banglore')

In [45]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [46]:
job_title = []
job_location = []
company_name = []
experience_required = []

title_tag = driver.find_elements(By.XPATH,'//a[@class = "title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)
                                 
location_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location = i.text                                    
    job_location.append(location)
                                    
       
company_tag = driver.find_elements(By.XPATH,"//a[@class = 'subTitle ellipsis fleft']")
for i in company_tag[0:10]:
    company = i.text
    company_name.append(company)
                                   
 
                                   
experience_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span") 
for i in experience_tag[0:10]:
    exp = i.text
    experience_required.append(exp)

In [47]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [48]:
df = pd.DataFrame({'job_title':job_title,'company_name':company_name,'experience_required':experience_required,'job_location':job_location})
df

,job_title,company_name,experience_required,job_location
0,Job Opportunity on Data Science_ Python with T...,Tech Mahindra,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
1,Assistant Manager - Data Science,CitiusTech,5-9 Yrs,"Mumbai, Pune, Bangalore/Bengaluru"
2,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
3,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
4,Data Science Consultant,ZS Associates India Pvt Ltd,3-8 Yrs,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru"
5,Data Scientist,GlobalLogic,8-10 Yrs,"Noida, Nagpur, Bangalore/Bengaluru"
6,Data Scientist,GlobalLogic,8-9 Yrs,Bangalore/Bengaluru
7,Data Scientist,Infosys,2-7 Yrs,Bangalore/Bengaluru
8,Data Scientist,Infosys,2-7 Yrs,Bangalore/Bengaluru
9,Data Scientist,United Phosphorus Limited,3-7 Yrs,Bangalore/Bengaluru

In [49]:
#Q3You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [50]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [51]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
import time

In [52]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [53]:
driver.get("https://www.naukri.com/")

In [54]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [55]:
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [56]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [62]:
#q4 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [76]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [77]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
import time

In [78]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [79]:
driver.get("https://www.flipkart.com/")

In [80]:
#search the “sunglasses” and click search button 

search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('sunglasses')

In [89]:

search_button =driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [90]:
Brand = []
Product_Description = []
Price= []


for i in range(3):
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:Brand.append(i.text)
    
    product_des = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_des:Product_Description.append(i.text)    
    
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:Price.append(i.text)
    
time.sleep(3)

In [91]:

print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [92]:
df = pd.DataFrame({'Brand': Brand,'Product_Description':Product_Description,'Price':Price})

df

              Brand                                Product_Description   Price
0            Enrico                Gradient Over-sized Sunglasses (62)    ₹899
1     VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...    ₹999
2         New Specs   UV Protection Rectangular Sunglasses (Free Size)    ₹250
3        PHENOMENAL         UV Protection Retro Square Sunglasses (53)    ₹267
4          Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹799
..              ...                                                ...     ...
115            SRPM             UV Protection Wayfarer Sunglasses (50)    ₹211
116  kingsunglasses          UV Protection Rectangular Sunglasses (55)    ₹189
117   VINCENT CHASE  Polarized, UV Protection Rectangular Sunglasse...  ₹1,049
118       ROYAL SON  Polarized, UV Protection Wayfarer, Retro Squar...    ₹664
119          PIRASO             UV Protection Wayfarer Sunglasses (32)    ₹279

[120 rows x 3 columns]

In [ ]:
#Q5 Scrape 100 reviews data from flipkart.com for iphone11 phone

In [25]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [26]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
import time

In [27]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [28]:
driver.get("https://www.flipkart.com/")

In [29]:

search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('iphone 11')

In [31]:

search_button =driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [34]:
rating=[]
review_sum=[]
review_dis=[]
j=1
# extracting all the tags
def i_scrap():
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_sum.append(i.text)
    rdis=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rdis:
        review_dis.append(i.text)
  #scraping i
next_b=driver.find_elements(By.CLASS_NAME,"ge-49M")
for b in next_b:
    i_scrap()
len(rating)

0

In [33]:
iphone_11=pd.DataFrame({'Rating':rating,'Review':review_sum,'Discription':review_dis})
iphone_11

Empty DataFrame
Columns: [Rating, Review, Discription]
Index: []

In [ ]:
#6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the

In [57]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [58]:

# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [59]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [60]:
driver.get('https://www.flipkart.com/')
time.sleep(2)

In [62]:
search_item = driver.find_element(By.CLASS_NAME,"_3704LK")
search_item.send_keys("sneakers")
time.sleep(3)

In [63]:
time.sleep(3)
click_search_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_search_button.click()
time.sleep(3)

In [64]:
Brand = []
Product_Description = []
Price = []

for i in range(3):
    
    brand = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']/a[1]")
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
 


    for i in brand:
        Brand.append(i.text)
    for i in product_des:
        Product_Description.append(i.text)
    for i in price :
        Price.append(i.text)
    
time.sleep(3)

nxt_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
nxt_button.click()

In [65]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [66]:
df = pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price})

df[0:100]

        Brand                                Product_Description Price
0      Shozie                                   Sneakers For Men  ₹389
1      Chevit  Super Stylish & Trendy Combo Pack of 02 Pairs ...  ₹629
2        aadi                                   Sneakers For Men  ₹279
3    RapidBox                                   Sneakers For Men  ₹442
4      BRUTON  Lightweight Pack Of 1 Trendy Sneakers Sneakers...  ₹179
..        ...                                                ...   ...
95  SCATCHITE                          Sneakers Sneakers For Men  ₹360
96     Shozie  Breathable, Walking, Running, Casual, Gym Shoe...  ₹379
97       Vask  Comfortable Premium Stylish Unique Trendy Popu...  ₹428
98     Layasa                              supr Sneakers For Men  ₹199
99   Magnolia                                   Sneakers For Men  ₹396

[100 rows x 3 columns]

In [68]:
#Q7: Go to the link - https://www.myntra.com/shoes

In [69]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [70]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys

In [71]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [72]:
driver.get('https://www.myntra.com/shoes')
time.sleep(2)

In [75]:
color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()
time.sleep(3)

In [76]:
price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()
time.sleep(3)

In [79]:
Brand = []
Shoe_des = []
Price = []

for i in range(2):
    
    brand = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    shoe_des = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    price = driver.find_elements(By.XPATH,'//div[@class="product-price"]/span[1]')


    for i in brand : Brand.append(i.text)
    for i in shoe_des: Shoe_des.append(i.text)
    for i in price : Price.append(i.text)
time.sleep(3)


nxt_page = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
nxt_page.click()

In [80]:

print(len(Brand),len(Shoe_des),len(Price))

100 100 100

In [81]:
SHOE_Data = pd.DataFrame({'Brand':Brand,'Shoe_des':Shoe_des,'Price':Price})
SHOE_Data

              Brand                           Shoe_des               Price
0              Nike     Men ZOOM WINFLO8 Running Shoes    Rs. 7880Rs. 8295
1      Hush Puppies  Men Solid Leather Formal Slip-Ons    Rs. 7649Rs. 8999
2              Nike       Men React Infinity 3 Running  Rs. 13295Rs. 13995
3              Nike       Lebron Witness VI Basketball            Rs. 8295
4   PUMA Motorsport     Mercedes AMG Petronas F1 Shoes   Rs. 9349Rs. 10999
..              ...                                ...                 ...
95   Tommy Hilfiger               Men Leather Sneakers            Rs. 8299
96           Reebok     Men Zig Dynamica2Adventure Run            Rs. 8999
97             Nike         Women React Escape Running   Rs. 9770Rs. 11495
98         Skechers                   Men Sports Shoes            Rs. 7999
99             Puma       Men Velocity Nitro 2 Running   Rs. 8799Rs. 10999

[100 rows x 3 columns]

In [ ]:
.
#Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon

In [1]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver.get('https://www.amazon.in/')
time.sleep(2)

In [5]:
search_item = driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_item.send_keys("laptop")

In [6]:
click_search_button = driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
click_search_button.click()
time.sleep(3)

In [7]:
#select intel core 7 filter

intel_core7 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/div')
intel_core7.click()

time.sleep(5)

In [8]:
Title = []
Ratings = []
Price = []

title = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
rating = driver.find_elements(By.XPATH,'//span[@data-hook="acr-average-stars-rating-text"]')
price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

for i in title:Title.append(i.text)
for i in rating:Ratings.append(i.text)    
for i in price:Price.append(i.text)

In [9]:
import pandas as pd

In [10]:
Laptop = pd.DataFrame({'Title':Title,'Price':Price})
Laptop[0:10]

                                               Title   Price
0  ASUS VivoBook 14 (2021), Intel Core i5-1135G7 ...  49,990
1  Mi Notebook Pro Qhd+ IPS Anti Glare Display In...  59,990
2  Redmi Book Pro Intel Core i5 11th Gen H Series...  46,490
3  Lenovo ThinkBook 15 Intel 11th Gen Core i5 15....  59,950
4  Lenovo ThinkBook 14 Intel Core i5 11th Gen 14"...  55,990
5  Lenovo IdeaPad Slim 3 Intel Core i5 12th Gen 1...  61,490
6  Dell Vostro 3420 Laptop, Intel i5-1135G7, 8GB ...  54,090
7  HP Pavilion x360 11th Gen Intel Core i5 14 inc...  67,917
8  (Renewed) Dell Latitude E5470 Intel Core i5 6t...  21,297
9  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  57,990

In [ ]:
#Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:

In [18]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [19]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
import time

In [20]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [21]:
driver.get('https://www.ambitionbox.com/')
time.sleep(2)

In [23]:
click_on_jobs = driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a')
click_on_jobs.click()

In [24]:
search_item = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_item.send_keys("Data Scientist")

In [25]:
click_search_button = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
click_search_button.click()
time.sleep(3)

In [26]:
click_location_manu = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
click_location_manu.click()
time.sleep(1)

In [27]:
entre_location = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
entre_location.send_keys("Noida")
time.sleep(1)

In [28]:
click_on_locationcity = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
click_on_locationcity.click()
time.sleep(4)

In [29]:
Company_name = []
Company_rating = []
No_days_of_job_posted = []

company = driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
rating = driver.find_elements(By.XPATH,'//span[@class="body-small"]')
day_of_job_posted = driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')

for i in company[0:10] : Company_name.append(i.text)
for i in rating [0:10]: Company_rating.append(i.text)
for i in day_of_job_posted[0:10] : No_days_of_job_posted.append(i.text)

In [30]:
print(len(Company_name),len(Company_rating),len(No_days_of_job_posted))

10 10 10

In [31]:
data = pd.DataFrame({'Company_name':Company_name,'Company_rating':Company_rating,'No_days_of_job_posted':No_days_of_job_posted})

data

,Company_name,Company_rating,No_days_of_job_posted
0,Optum Global Solutions (India) Private Limited,4.1,3d ago
1,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED,4.3,via naukri.com
2,EY GDS,3.8,22hr ago
3,GLOBALLOGIC INDIA PRIVATE LIMITED,4.0,via naukri.com
4,CBRE South Asia Pvt Ltd,4.3,3d ago
5,GENPACT India Private Limited,4.0,via iimjobs.com
6,Genpact,4.0,22hr ago
7,Ericsson India Global Services Pvt. Ltd.,4.3,via naukri.com
8,Dew Solutions Pvt. Ltd.,4.3,30d ago
9,One97 Communications Limited,3.8,via naukri.com

In [ ]:
#Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [1]:

#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\abhis\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\abhis\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sortedcontainers in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\abhis\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\abhis\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abhis\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abhis\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [1]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https://www.ambitionbox.com/')
time.sleep(2)

In [4]:
search_item = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[1]/span/input')
search_item.send_keys("Data Scientist")
time.sleep(1)

In [5]:
click_on_salaries = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[2]/div/div/i')
click_on_salaries.click()
time.sleep(3)

In [6]:
click_on_sal = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div/div[2]/div[2]/div/div/div/div[2]/div/ul/li[5]')
click_on_sal.click()
time.sleep(3)

In [7]:
Company_name = []
Total_Salary_Records = []
Average_Salary = []
Minimum_Salary = []
Maximum_Salary = []

company_name = driver.find_elements(By.XPATH,'//div[@class="name"]/a')
salary_records = driver.find_elements(By.XPATH,'//div[@class="name"]/span')
avg_salary = driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
min_salary = driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
max_salary = driver.find_elements(By.XPATH,'//div[@class="salary-values"]')

for i in company_name : Company_name.append(i.text)
for i in salary_records: Total_Salary_Records.append(i.text)
for i in avg_salary : Average_Salary.append(i.text)
for i in min_salary : Minimum_Salary.append(i.text.split("\n")[0])    
for i in max_salary : Maximum_Salary.append(i.text.split("\n")[1])

In [8]:
Salary = pd.DataFrame({'Company_name':Company_name,'Total_Salary_Records':Total_Salary_Records,'Average_Salary':Average_Salary,'Minimum_Salary':Minimum_Salary,'Maximum_Salary':Maximum_Salary})
Salary

Empty DataFrame
Columns: [Company_name, Total_Salary_Records, Average_Salary, Minimum_Salary, Maximum_Salary]
Index: []